*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout {
  display: flex;
  min-width: 314px;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.col {
  display: flex;
  height: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  flex-basis: 100px;
}
.flx-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.flx-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.spbtw {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.flx {
  display: flex;
  gap: 13px;
}
.inp {
  border: 0;
  border-radius: 20px;
  font-size: large;
  padding: 8px 14px;
  text-align: center;
  cursor: pointer;
}
.font-sz {
  font-size: xx-large;
  cursor: pointer;
}
.sz {
  font-size: larger;
}
.cursor {
  cursor: pointer;
}
@media screen and (max-width: 657px) {
  .spbtw {
    flex-direction: column;
    gap: 20px;
  }
  body {
    font-size: large;
    font-weight: bold;
  }
  .colum {
    display: flex;
    flex-direction: column;
  }
  .flx {
    flex-direction: column;
  }
}

@media screen and (max-width: 752px) {
  .spbtw {
    flex-direction: column;
    gap: 20px;
  }
}
